# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/.name
.idea/inspectionProfiles/profiles_settings.xml
.idea/ivs_team_project.iml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
src/__pycache__/math_lib.cpython-310.pyc
